<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pape.nativeapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:label="Pape Native"
        android:theme="@style/Theme.PapeNative">

        <activity
            android:name=".AlarmActivity"
            android:exported="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:showForAllUsers="true"
            android:showOnLockScreen="true"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.PapeNative.FullScreen" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".AlarmService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
    </application>
</manifest>
